<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!--
        fair-ground apps are uniquely identified by the GitHub organization that
        owns the fork of the fair-ground's /App.git base repository.
        The organizations name, in the form of 'Some-Word', will cause the app
        to be named "Some Word".
        You should manually edit the CFBundleName and CFBundleIdentifier to match
        your app's identifier, but if it is left as the default 'app.App-Name',
        then the integration phase will swap in the correct
        name for your organization, which will be included in the release build.
    -->

    <!-- the name of your app; must match your App-Name with a space for the hyphen -->
    <key>CFBundleName</key>
    <string>App Name</string>

    <!-- the bundle ID, which must be: "app.App-Name" with your app org name -->
    <key>CFBundleIdentifier</key>
    <string>app.App-Name</string>

    <!-- set the value to your app's category (e.g., games, music, developer-tools) -->
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>

    <!-- the semantic release in the form MAJOR.MINOR.PATCH -->
    <!-- each fair-ground integration must increase this value -->
    <key>CFBundleShortVersionString</key>
    <string>0.0.1</string>

    <!-- the monotonically non-decreasing build number -->
    <!-- each fair-ground integration must increase this value -->
    <key>CFBundleVersion</key>
    <string>1</string>

    <!-- Each key in Sandbox.entitlements must have a corresponding explanation here -->
    <key>FairUsage</key>
    <dict>
        <key>com.apple.security.files.user-selected.read-write</key>
        <string>This app needs to read and write files in order to…</string>

        <key>com.apple.security.network.client</key>
        <string>This app needs to access the network in order to…</string>
    </dict>

    <!-- Free & Fair, Forever -->
    <key>NSHumanReadableCopyright</key>
    <string>GNU Affero General Public License</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>UIDeviceFamily</key>
    <integer>2</integer>

    <!-- 0: normal mode; 5: hide everything -->
    <key>LSUIPresentationMode</key>
    <integer>0</integer>

    <key>NSAppTransportSecurity</key>
    <dict>
        <!-- Don't block http:// URLs -->
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- Enables opening the original document from a file provider, rather than a copy of the document -->
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>

    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>

    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>


    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
